{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
            
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="container mt-4 shop-cart">
        <div class="row">
            <div class="col">
                <h2 class="mb-4">Shopping Cart</h2>
            </div>
        </div>
        <div class="row">
            <!-- contains shopping cart products -->
            <div class="col">
                {% if cart_products %}
                    <div class="table-responsive">
                        <table class="table table-sm table-borderless">
                            <thead>
                                <tr>
                                    <th scope="col">Product Info</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>

                            {% for item in cart_products %}
                                <tr>
                                    <td class="p-3 w-25">
                                        {% if item.product.image %}
                                            <img class="img-fluid" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                                        {% else %}
                                            <img class="img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                                        {% endif %}
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                        <p class="my-0 small">SKU: {{ item.product.sku|upper }}</p>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">€{{ item.product.price }}</p>
                                    </td>
                                    <td class="py-3 w-25">
                                        <form class="form update-form" method="POST" action="{% url 'adjust_cart' item.item_id %}">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control form-control-sm qty_input" type="number"
                                                        name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                        data-item_id="{{ item.item_id }}"
                                                        id="id_qty_{{ item.item_id }}">
                                                    <div class="input-group-prepend">
                                                        <button class="decrement-qty btn btn-sm" aria-label="decrement button"
                                                            data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                            <span>
                                                                <i class="fas fa-minus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <div class="input-group-append">
                                                        <button class="increment-qty btn btn-sm" aria-label="increment button"
                                                            data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                            <span>
                                                                <i class="fas fa-plus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <a class="update-link"><small>Update</small></a>
                                        <a class="remove-item float-right" id="remove_{{ item.item_id }}">
                                            <small>Remove</small>
                                        </a>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">€{{ item.product.price }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5" class="pt-5 text-right">
                                    <h3><strong>Bag Total: €{{ total|floatformat:2 }}</strong></h3>
                                    {% if code %}
                                        <p>Discount - {{ code.amount }}%</p>
                                        <p>Total after Discount: €{{ coupon_total|floatformat:"2" }}</p>
                                    {% endif %}
                                    <h3>Delivery: €{{ delivery|floatformat:2 }}</h3>
                                    <div class="col-12">
                                        <h3 class="mt-4"><strong>Apply coupon</strong></h3>
                                        <form action="{% url 'apply_coupon' %}" method='POST' class="mb-4">
                                            {% csrf_token %}
                                            <input class="w-50" type="text" name="coupon-code" maxlength="20"><br>
                                            <button type='submit' class='btn shop-btn'>Apply</button>
                                        </form>
                                    </div>
                                    <h4 class="mt-4"><strong>Grand Total: €{{ grand_total|floatformat:2 }}</strong></h4>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-right">
                                    <a href="{% url 'products' %}" class="btn shop-btn">
                                        <span class="icon">
                                            <i class="fas fa-store"></i>
                                        </span>
                                        <span>Continue Shopping</span>
                                    </a>
                                    <a href="{% url 'checkout' %}" class="btn shop-btn">
                                        <span>Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                {% else %}
                    <p class="mb-4">Oh no! Your cart is empty :(</p>
                    <a href="{% url 'products' %}" class="btn">
                        <span class="icon">
                            <i class="fas fa-store"></i>
                        </span>
                        <span>Continue Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {% include 'products/includes/quantity_script.html' %}

    <script type="text/javascript">
        // Taken from Code Institutes boutique ado
        // Update quantity on click
        $('.update-link').click(function(e) {
            var form = $(this).prev('.update-form');
            form.submit();
        })
    
        // Remove item and reload on click
        $('.remove-item').click(function(e) {
            var csrfToken = "{{ csrf_token }}";
            var itemId = $(this).attr('id').split('remove_')[1];
            var url = `/cart/remove/${itemId}/`;
            var data = {'csrfmiddlewaretoken': csrfToken};
    
            $.post(url, data)
             .done(function() {
                 location.reload();
             });
        })
    </script>
{% endblock %}