{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
            
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="intro-container container h-100">
        <div class="row h-100">
            <div class="col my-auto">
                <div class="my-3 text-center">
                    <h2>
                        <a href="" class="shop-btn btn btn-lg text-uppercase">Shop Now</a>
                    </h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}