{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
            
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="container mt-4 profile-content">
        <div class="row">
            <div class="col">
                <h2 class="mb-4 mt-4 text-center">Welcome {{ profile }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <p>Order History</p>
                <div class="order-history table-responsive">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>Order Number</th>
                                <th>OrderDate</th>
                                <th>Products</th>
                                <th>Cost</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>
                                        <a href="{% url 'order_history' order.order_number %}"
                                        title="{{ order.order_number }}">
                                            {{ order.order_number|truncatechars:6 }}
                                        </a>
                                    </td>
                                    <td>{{ order.date }}</td>
                                    <td>
                                        <ul class="list-unstyled">
                                            {% for item in order.lineitems.all %}
                                                <li class="small">
                                                    {{ item.product.name }} x {{ item.quantity }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td>${{ order.grand_total }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <p>Delivery Information</p>
                <form class="mt-4" action="{% url 'profile' %}" method="POST" id="profile-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="mb-4 btn shop-btn text-uppercase">Update Info</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}