{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/stripe-elements.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
            
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="container mt-4 shop-cart">
        <div class="row">
            <div class="col">
                <h2 class="mb-4 mt-4 text-center">Checkout</h2>
            </div>
        </div>
        <div class="row">
            <!-- Summary of order -->
            <div class="col-12 col-lg-6 order-lg-last mb-4">
                <p>Order Summary ({{ product_count }})</p>
                <div class="row">
                    <div class="col-7 offset-2">
                        <p class="mb-1 mt-0 small">Item</p>
                    </div>
                    <div class="col-3 text-right">
                        <p class="mb-1 mt-0 small">Each</p>
                    </div>
                </div>
                {% for item in cart_products %}
                <div class="row">
                    <div class="col-2 mb-1">
                        <a href="{% url 'product_info' item.product.id %}">
                            {% if item.product.image %}
                            <img class="w-100" src="{{ item.product.image.url }}" alt="{{ product.name }}">
                            {% else %}
                            <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                            {% endif %}
                        </a>
                    </div>
                    <div class="col-7 mb-4">
                        <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                        <p class="my-0 small">Qty: {{ item.quantity }}</p>
                    </div>
                    <div class="col-3 text-right">
                        <p class="my-0"><strong>€{{ item.product.price }}</strong></p>
                    </div>
                </div>
                {% endfor %}
                <div class="row text-black text-right">
                    <div class="col-7 offset-2 mt-2">
                        <p class="my-0">Order Total:</p>
                        {% if code %}
                            <p class="my-0 mb-2">Coupon Added:</p>
                            <p class="my-0">Total:</p>
                        {% endif %}
                        <p class="my-0 mb-2">Delivery:</p>
                        <p class="my-0"><strong>Grand Total:</strong></p>
                    </div>
                    <div class="col-3 mt-2">
                        <p class="my-0">€{{ total | floatformat:2 }}</p>
                        {% if code %}
                            <p class="my-0 mb-2">- {{ code.amount }}%</p>
                            <p class="my-0">€{{ coupon_total | floatformat:2 }}</p>
                        {% endif %}
                        <p class="my-0 mb-2">€{{ delivery | floatformat:2 }}</p>
                        <p class="my-0"><strong>€{{ grand_total | floatformat:2 }}</strong></p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <p>Complete order by filling out form below</p>
                <!-- Form to checkout -->
                <form id="checkout-form" method="POST" action="{% url 'checkout' %}">
                    {% csrf_token %}
                    <fieldset class="mb-4">
                        <legend class="fieldset-label small w-auto px-3">Details</legend>
                        {{ order_form.full_name | as_crispy_field }}
                        {{ order_form.email | as_crispy_field }}
                    </fieldset>
                    <fieldset class="mb-4">
                        <legend class="fieldset-label small w-auto px-3">Delivery Details</legend>
                        {{ order_form.phone_number | as_crispy_field }}
                        {{ order_form.street_address1 | as_crispy_field }}
                        {{ order_form.street_address2 | as_crispy_field }}
                        {{ order_form.town_or_city | as_crispy_field }}
                        {{ order_form.county | as_crispy_field }}
                        {{ order_form.postcode | as_crispy_field }}
                        {{ order_form.country | as_crispy_field }}
                        <div class="form-check form-check-inline mr-0">
                            {% if user.is_authenticated %}
                            <label class="form-check-label" for="id-save-info">Save delivery information to my
                                profile</label>
                            <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info"
                                checked>
                            {% else %}
                            <label class="form-check-label" for="id-save-info">
                                <a class="account-link" href="{% url 'account_signup' %}">Create an account</a> or
                                <a class="account-link" href="{% url 'account_login' %}">login</a> to save this information
                            </label>
                            {% endif %}
                        </div>
                    </fieldset>
                    <fieldset class="px-3">
                        <legend class="fieldset-label small w-auto px-2">Payment Details</legend>
                        <!-- A Stripe card element -->
                        <div class="mb-4" id="card-element"></div>
                        <!-- Displays form errors -->
                        <div class="mb-4 text-danger" id="card-errors" role="alert"></div>
                        <input type="hidden" value="{{ client_secret }}" name="client_secret">
                    </fieldset>
                    <!-- Submit button -->
                    <div class="submit-btn text-right mt-4 mb-4">
                        <a href="{% url 'view_cart' %}" class="btn shop-btn rounded-0">
                            <span class="icon">
                                <i class="fas fa-store"></i>
                            </span>
                            <span class="font-weight-bold">Adjust Cart</span>
                        </a>
                        <button id="submit-btn" class="btn shop-btn rounded-0">
                            <span class="font-weight-bold">Complete Order</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}
