html {
    height: 100%;
}

body {
    background: url('/media/hero-img.webp') no-repeat center center fixed, rgba(0, 0, 0, 0.6);
    background-size: cover;
    background-blend-mode: overlay;
    color: rgb(34, 30, 30);
    font-family: 'Oswald', sans-serif;
}

header {
    background-color: #845EC2;
    padding: 1em;
}

.header-container {
    padding-top: 210px;
}

.intro-container {
    margin-top: 6em;
}

h1 {
    font-family: 'Gwendolyn', cursive;
    font-weight: bold;
    color: #fff;
}

/* products page */
.product-header {
    background-color: #FBEAFF;
    margin: 0 2em;
}

.card-body {
    background-color: #FBEAFF;
}

.detail-box {
    background-color: #FBEAFF;
}

.img-container img {
    height: 300px;
    margin-right: 12px;
}

.product-list span,
.product-list a {
    color: #fff;
    text-shadow: 1px 1px #000;
    letter-spacing: .1em;
}

.product-list a:hover {
    color: rgb(201, 186, 186);
    font-weight: bold;
    text-shadow: 1px 1px #000
}

/* Shopping cart */
.shop-cart {
    background-color: #FBEAFF;
}

.update-link,
.remove-item {
    cursor: pointer;
    color: #007a66;
    text-decoration: none;
}

.update-link:hover {
    color: #000;
}

/* Hide Arrows From Input Number - https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

/* Scroll up button */
.up-btn {
    position: fixed;
    bottom: 2em;
    right: 2em;
    height: 50px;
    width: 50px;
    background-color: #00C9A7;
    font-size: 25px;
}

.up-btn a {
    text-decoration: none;
}

.scroll-up {
    cursor: pointer;
    color: #fff;
}

.scroll-up:hover {
    color: #00C9A7;
}

.up-btn:hover {
    background-color: #fff;
}

/* Button style */
.shop-btn {
    background-color: #00C9A7;
}

.shop-btn:hover {
    background-color: #007a66;
    color: #fff;
}

/* Media queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
}

@media (max-width: 576px) {
    .header-container {
        padding-top: 270px;
    }
}
