html {
    height: 100%;
}

body {
    background: url('/media/hero-img.webp') no-repeat center center fixed, rgba(0, 0, 0, 0.6);
    background-size: cover;
    background-blend-mode: overlay;
    color: rgb(34, 30, 30);
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #845EC2;
    padding: 1em;
}

.header-container {
    padding-top: 210px;
}

.intro-container {
    margin-top: 6em;
}

h1 {
    font-family: 'Gwendolyn', cursive;
    font-weight: bold;
    color: #fff;
}

.white-text {
    color: #fff;
}

/* products page */
.product-header {
    background-color: #FBEAFF;
    margin: 0 2em;
}

.card-body {
    background-color: #FBEAFF;
}

.detail-box {
    background-color: #FBEAFF;
}

.img-container img {
    height: 300px;
    margin-right: 12px;
}

.product-list span,
.product-list a {
    color: #fff;
    text-shadow: 1px 1px #000;
    letter-spacing: .1em;
}

.product-list a:hover {
    color: rgb(201, 186, 186);
    font-weight: bold;
    text-shadow: 1px 1px #000
}

/* Shopping cart */
.shop-cart,
.profile-content {
    background-color: #FBEAFF;
}

.update-link,
.remove-item {
    cursor: pointer;
    color: #007a66;
    text-decoration: none;
}

.remove-item {
    color: #a01313;
}

.update-link:hover {
    color: #000;
}

.table-responsive h3 {
    font-size: 18px;
}

/* Checkout page */
.account-link {
    color: rgb(51, 94, 211);
}

.account-link:hover {
    color: rgb(9, 44, 141);
}

/* Hide Arrows From Input Number - https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

/* Scroll up button */
.up-btn {
    position: fixed;
    z-index: 10;
    bottom: 2em;
    right: 2em;
    height: 50px;
    width: 50px;
    background-color: #00C9A7;
    font-size: 25px;
}

.up-btn a {
    text-decoration: none;
}

.scroll-up {
    cursor: pointer;
    color: #fff;
}

.scroll-up:hover {
    color: #00C9A7;
}

.up-btn:hover {
    background-color: #fff;
}

/* Button style */
.shop-btn {
    background-color: #00C9A7;
}

.shop-btn:hover {
    background-color: #007a66;
    color: #fff;
}

/* Allauth forms */
.allauth-form-inner-content p {
    margin-top: 1.75em;
}

.allauth-form-inner-content input {
    margin-bottom: 1.75em;
}

.secondaryAction,
.allauth-form-inner-content button {
    margin: .75em;  
}

.login-signup {
    color: #845EC2;
}

input, select {
    margin-bottom: 1em;
}

#profile-form select {
    color: grey;
}

/* Coupon Display */
.coupon-display {
    background-color: #007a66;
    color: #fff;
    margin: 0;
}

/* Footer */

.page-footer {
    background-color: #845EC2;
    margin: 0;
    color: #fff;
    bottom: 0; 
    width: 100%;
    height: 120px;
}

.social-media-links {
    display: flex;
    justify-content: space-evenly;
}

.social-media-links a {
    font-size: 20px;
    color: #fff;
}

.social-media-links a:hover {
    color: #007a66;
}

/* Error pages */
.error-container {
    background-color: #FBEAFF;
    margin-top: 2em;
}

/* Media queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
}

@media (max-width: 576px) {
    .header-container {
        padding-top: 270px;
    }
}
