<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a href="#"
                class="nav-link dropdown-toggle text-dark" id="all-products-link"
                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <!--Product Dropdown Category-->
            <div class="dropdown-menu" aria-labelledby="all-products-link">
                <a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=asc">By Cost</a>
                <a class="dropdown-item" href="{% url 'products' %}?sort=category&direction=asc">By Category</a>
                <a class="dropdown-item" href="{% url 'products' %}">All products</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href=""
                class="nav-link dropdown-toggle text-dark" id="candles"
                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Candles
            </a>
            <!-- Candle Dropdown Category -->
            <div class="dropdown-menu" aria-labelledby="candles">
                <a class="dropdown-item" href="{% url 'products' %}?category=tin_candles">Tin Candles</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=jar_candles">Jar Candles</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=tin_candles,jar_candles">All Candles</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="#"
                class="nav-link dropdown-toggle text-dark" id="wax-melts"
                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Wax Melts
            </a>
            <!-- Wax Melts Dropdown Category -->
            <div class="dropdown-menu" aria-labelledby="wax-melts">
                <a class="dropdown-item" href="{% url 'products' %}?category=single_wax_melts">Single Wax Melts</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=wax_melt_bags">Wax Melt Bags</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=single_wax_melts,wax_melt_bags">All Wax Melts</a>
            </div>
        </li>
    </ul>
</div>