{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
            
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="error-container col my-auto">
                <div class="my-3 text-center">
                    <h2>
                        Oh no! Something went wrong with the server
                    </h2>
                    <a class="btn shop-btn" href="{% url 'home' %}">Take Me Home</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}