{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
            
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
             <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                 <div class="img-container text-center">
                    {% if product.image %}
                        <a href="{{ product.imgage.url }}" target="_blank">
                            <img src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                    {% else %}
                        <a href="#">
                            <img src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                 </div>
             </div>
             <div class="col-12 col-md-6 col-lg-4 detail-box mt-4 mb-4">
                <div class="mb-4 text-center">
                    <p>{{ product.name }}</p>
                    <p class="font-weight-bold">${{ product.price }}</p>
                    <p class="mt-4 text-left">{{ product.description }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}